<h2>
  New Post
</h2>


<form>
  <div id="form_errors"></div>

  <fieldset>
    <label for="post_title">Title</label>
    <input type="textfield" id="post_title">

    <label for="post_author">Author</label>
    <input type="textfield" id="post_author">

    <label for="post_body">Post Body</label>
    <textarea id="post_body" rows="5"></textarea>

    <hr>
    <button id="save_post" class="btn">Save</button>
    <a href="#/posts">Cancel</a>
  </fieldset>
</form>
