<form>
  <fieldset>
    <label for="comment_body">New Comment</label>
    <textarea id="comment_body" rows="5"></textarea>

    <button id="save_comment" class="btn">Submit</button>
  </fieldset>
</form
